<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
		</div>
        <div class="col-6 text-end">
		</div>
	</div>
    <br /><br />

<table  id="tblData"  class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}